appdirs==1.4.3
apturl==0.5.2
argcomplete==1.8.1
argh==0.26.2
argon2-cffi==20.1.0
async-generator==1.10
atomicwrites==1.1.5
attrs==20.2.0
Automat==20.2.0
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.8.2
black==19.3b0
bleach==3.2.1
blinker==1.4
branca==0.4.2
Brlapi==0.7.0
bs4==0.0.1
CacheControl==0.12.6
certifi==2019.11.28
cffi==1.14.3
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.7.1
colorama==0.4.3
coloredlogs==14.0
command-not-found==0.3
confuse==1.4.0
constantly==15.1.0
contextlib2==0.6.0
cryptography==3.2.1
cssselect==1.1.0
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.14
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
demjson==2.2.4
descartes==1.1.0
distlib==0.3.0
distro==1.4.0
distro-info===0.23ubuntu1
docutils==0.16
duplicity==0.8.12.0
entrypoints==0.3
et-xmlfile==1.0.1
fasteners==0.14.1
filelock==3.0.12
Fiona==1.8.18
Flask==1.1.2
folium==0.11.0
future==0.18.2
geographiclib==1.50
geopandas==0.8.1
geopy==2.0.0
graphviz==0.16
html5lib==1.0.1
htmlmin==0.1.12
httplib2==0.14.0
humanfriendly==8.2
hyperlink==20.0.1
idna==2.8
ImageHash==4.2.0
imageio==2.9.0
importlib-metadata==1.5.0
imutils==0.5.3
incremental==17.5.0
ipaddr==2.2.0
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.6.4
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==1.1.0
jdcal==1.0
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
keyring==18.0.1
kiwisolver==1.3.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
libpysal==4.3.0
llvmlite==0.35.0
lockfile==0.12.2
louis==3.12.0
lxml==4.6.1
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.1.1
Markups==3.0.0
MarkupSafe==1.1.0
matplotlib==3.3.3
missingno==0.4.2
mistune==0.8.4
momepy==0.4.0
monotonic==1.5
more-itertools==4.2.0
msgpack==0.6.2
munch==2.5.0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.2
netifaces==0.10.4
networkx==2.5
notebook==6.1.4
numba==0.52.0
numexpr==2.7.1
numpy==1.19.4
oauthlib==3.1.0
olefile==0.46
openpyxl==3.0.3
osmnx==1.0.0
packaging==20.4
pandas==1.2.0
pandas-profiling==2.9.0
pandocfilters==1.4.3
paramiko==2.6.0
parsel==1.6.0
parso==0.7.1
path==15.0.0
path.py==12.5.0
pathtools==0.1.2
patsy==0.5.1
pep517==0.8.2
pexpect==4.6.0
phik==0.10.0
pickleshare==0.7.5
Pillow==7.0.0
pipenv==11.9.0
pluggy==0.13.0
progress==1.5
prometheus-client==0.8.0
prompt-toolkit==3.0.8
Protego==0.1.16
protobuf==3.6.1
ptyprocess==0.6.0
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycparser==2.20
pycups==1.9.73
PyDispatcher==2.0.5
pydotplus==2.0.2
pyenchant==2.0.0
pygeos==0.8
Pygments==2.7.2
PyGObject==3.36.0
PyHamcrest==2.0.2
PyJWT==1.7.1
pymacaroons==0.13.0
pympress==1.5.1
PyNaCl==1.3.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyproj==3.0.0.post1
PyQt5==5.14.1
pyRFC3339==1.1
pyrsistent==0.17.3
pytest==4.6.9
python-apt==2.0.0+ubuntu0.20.4.3
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-markdown-math==0.6
python-vlc==3.0.7110
pytoml==0.1.21
pytz==2019.3
PyWavelets==1.1.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
queuelib==1.5.0
regex==2019.8.19
reportlab==3.5.34
requests==2.25.0
requests-unixsocket==0.2.0
retrying==1.3.3
roman==2.0.0
Rtree==0.9.7
scikit-image==0.17.2
scikit-learn==0.24.0
scipy==1.5.4
Scrapy==2.4.1
seaborn==0.11.0
SecretStorage==2.3.1
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
shadow-useragent==0.0.17
Shapely==1.7.1
simplejson==3.16.0
sip==4.19.21
six==1.14.0
sklearn==0.0
soupsieve==1.9.5
systemd-python==234
tables==3.6.1
tabulate==0.8.7
tangled-up-in-unicode==0.0.6
terminado==0.9.1
testpath==0.4.4
textile==4.0.1
threadpoolctl==2.1.0
tifffile==2020.12.4
toml==0.10.0
tornado==6.1
tqdm==4.54.1
traitlets==5.0.5
Twisted==20.3.0
typing==3.7.4.3
ubuntu-advantage-tools==20.3
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
usb-creator==0.3.7
virtualenv==20.0.17
virtualenv-clone==0.3.0
visions==0.5.0
w3lib==1.22.0
wadllib==1.3.3
watchdog==0.9.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xkit==0.0.0
xlrd==1.1.0
xlwt==1.3.0
zipp==1.0.0
zope.interface==5.2.0
